<script>
  // inject initial artist data without extra query
  const artists_data = JSON.parse("<%= @artists.to_json  %>".replace(/&quot;/g, '"'))
  const logo_url = "<%= image_url 'logo-dark.svg', height: 28 %>"
</script>

<%= javascript_pack_tag 'artists_view', 'data-turbolinks-track': 'reload' %>
<div id='hello'>
  <app></app>
</div>
